/* .topBarContainer {
  position: fixed;
  background-color: #2EB5E2;
  width: 100%;
  height: 7vh;
  z-index: 2;
} */

#topBar > .appBarContainer {
  background-color: rgb(23, 173, 223);
  opacity: .9;
  box-shadow: none;
  height: 7vh;
  z-index: 2;
}

#topBar .toolBar {
  padding-bottom: 1em;
}

.leftMenuContainer {
  display: flex;
  align-items: center;
  width: 15vw;
}

.mysteryRectangle {
  height: 1.5em;
  width: 8em;
  margin-left: .9em;
  margin-right: .8em;
  background-color: #929292;
}

#topBar svg {
  width: .7em;
}


.searchContainer {
  position: absolute;
  left: 15%;
  display: flex;
  align-items: center;
}

.searchIcon {
  margin-top: .2em;
  margin-left: 1em;
}


.searchContainer > .searchMenu {
  padding-left: 1.2em;
  color: #ffffff;
  opacity: 1;
}

.profileContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.profileImage {
  height: 100%;
  right: 0;
}
